{% extends "base.html" %}

{% block title %}
    Delete Package
{% endblock %}

{% block header %}
    Package Manager GoGoTours
{% endblock %}

{% block content %}

    <div>
        <p>Eliminar paquete</p>
        <button id="btn-confirmar">Aceptar</button>
        <button id="btn-cancelar">Cancelar</button>
    </div>

    <div id="popup" class="popup">
        <div class="popup-content">
            <p>¿Estás seguro de que deseas eliminar el paquete?</p>
            <button id="btn-aceptar">Aceptar</button>
            <button id="btn-cerrar">Cancelar</button>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var popup = document.getElementById('popup');
            var btnConfirmar = document.getElementById('btn-confirmar');
            var btnCancelar = document.getElementById('btn-cancelar');
            var btnCerrar = document.getElementById('btn-cerrar');

            btnConfirmar.addEventListener('click', function () {
                popup.style.display = 'block';
            });

            btnCancelar.addEventListener('click', function () {
                // Aquí puedes agregar lógica para cancelar la eliminación
            });

            btnCerrar.addEventListener('click', function () {
                // Cierra el pop-up sin realizar ninguna acción
                popup.style.display = 'none';
            });

            var btnAceptar = document.getElementById('btn-aceptar');
            btnAceptar.addEventListener('click', function () {
                // Aquí puedes agregar la lógica para continuar con la eliminación
                // ...

                // Cierra el pop-up después de la acción
                popup.style.display = 'none';
            });
        });
    </script>

{% endblock %}

{% block page %}
    delete packages
{% endblock %}
