{% extends "base.html" %}

{% block title %}
    Solicitud de restablecimiento de contraseña - Exitosa
{% endblock %}

{% block header %}
    Chat GoGoTours - Restablecimiento de contraseña
    {% block head_tags %}
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/base/login.css') }}"/>
    {% endblock %}
{% endblock %}

{% block content %}
    <div class="login-container">
        <h2>Cambio de contraseña</h2>
        {% if error %}
            <p class="error-message">{{ error }}</p>
        {% endif %}
         <p>¡Revisa en tu correro el token para poder cambiar tu contraseña!</p>
         <form id="reset-password-succesful-form" method="post">
            <label for="reset-token">Token de restablecimiento:</label>
            <input type="password" id="reset-token" name="reset_token" required><br><br>

            <label for="new-password">Nueva contraseña:</label>
            <input type="password" id="new-password" name="new_password" required><br><br>

            <label for="confirm-password">Confirmar contraseña:</label>
            <input type="password" id="confirm-password" name="confirm_password" required><br><br>

            <button type="submit" class="login-button full-width-form">Modificar contraseña</button>
         </form>
      <p class="reset-password-link"><a href="/login">Volver al inicio de sesión</a></p>
     </div>
{% endblock %}
