{% extends "base.html" %}

{% block title %}
    Restablecer contraseña - Chat
{% endblock %}

{% block header %}
    Chat GoGoTours - Solcitud de restablecimiento de contraseña
    {% block head_tags %}
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/base/login.css') }}"/>
    {% endblock %}
{% endblock %}

{% block content %}
    <div class="login-container">
        <h2>Restablecer contraseña</h2>
        {% if error %}
            <p class="error-message">{{ error }}</p>
        {% endif %}
        <form id="reset-password-form" method="post" class="login-form">
            <label for="email">Correo electrónico:</label>
            <input type="email" id="email" name="email" required>

            <button type="submit" class="login-button">Enviar solicitud de restablecimiento</button>
        </form>
        <p class="reset-password-link">¿Recuerdas tu contraseña? <a href="/login">Inicia sesión aquí</a></p>
    </div>
{% endblock %}
