{% extends "base.html" %}

{% block title %}
    Iniciar sesión - GogoTours
{% endblock %}

{% block header %}
    Chat GoGoTours - Iniciar sesión
    {% block head_tags %}
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/base/login.css') }}"/>
    {% endblock %}
{% endblock %}

{% block content %}
    <div class="login-container">
        <h2 style="text-align: center">Iniciar sesión</h2>
        <form id="login-form" method="post" class="login-form">
            <label for="email">Correo electrónico:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit" class="login-button">Iniciar sesión</button>
        </form>
        <p class="signup-link">¿No tienes una cuenta? <a href="/signup">Regístrate aquí</a></p>
    </div>
{% endblock %}
