{% extends "base.html" %}

{% block title %}
    Chat
{% endblock %}

{% block head_tags %}
    <link rel="stylesheet" href="{{ url_for('static', filename='base/chats.css') }}">
    <script defer>
        function isMobile() {
            return window.innerWidth <= 768;
        }

        const conversationsList = document.getElementById('chat__conversations-list');
        const messagesContainer = document.getElementById('chat__messages');

        const hideConversationsList = () => {
            if (isMobile() && messagesContainer) {
                conversationsList.classList.add('chat__conversations-list--hidden');
            }
            else {
                conversationsList.classList.remove('chat__conversations-list--hidden');
            }
        }

        hideConversationsList()

        window.addEventListener('resize', function () {
            hideConversationsList()
        });
    </script>
{% endblock %}

{% block content %}
    <h1 class="main__title">Mis chats</h1>
        <div class="chat">
            <div id="chat__conversations-list" class="chat__conversations-list">
                {% for conversation_summary in conversations_summaries %}
                <a href="" class="chat__conversation">
                    <div class="chat__conversation-avatar">
                        <img src="https://api.dicebear.com/7.x/lorelei/svg?seed={{ conversation_summary.recipient_name }}" alt="Avatar de {{ conversation_summary.recipient_name }}">
                    </div>
                    <p class="chat__conversation-name">{{ conversation_summary.recipient_name }}</p>
                    <p class="chat__conversation-last-message">{{ conversation_summary.last_message }}</p>
                    <p class="chat__conversation-date">{{ conversation_summary.last_message_date }}</p>
                </a>
                {% endfor %}
            </div>
            {% block chat %}
            {% endblock %}
        </div>
{% endblock %}

{% block page %}
    messages
{% endblock %}